<div *ngIf="currentSlide$">
  <img class="hero"
       src="{{currentSlide$.images.hero.small}}"
       alt="{{currentSlide$.name}}">
</div>


<button class="expand" (click)="showImagePreview = true">
  <img src="../../../assets/icons/icon-view-image.svg"
       alt="">View Image</button>
<app-lightbox *ngIf="showImagePreview"
              [showImagePreview]="showImagePreview"
              [linkToImage]="currentSlide$.images.hero.large"></app-lightbox>
<!-- <ng-template adHost></ng-template> -->
<div class="info">
  <div class="title">
    <h2>{{currentSlide$.name}}</h2>

    <h3>{{currentSlide$.artist.name}}</h3>
  </div>


</div>
<div class="description">
  <img class="artist-thumbnail"
       src="{{currentSlide$.artist.image}}"
       alt="{{currentSlide$.artist.name}}">
  <h4 class="year">{{currentSlide$.year}}</h4>
  <p class="text">{{currentSlide$.description}}</p>
  <a class="source"
     href="{{currentSlide$.source}}"
     target="_blank">Go to Source</a>
</div>
