@use '/src/variables';

.slide {
  @include variables.flex-column;
  margin: 25px auto;
  // z-index: 0;
}

.hero {
  position: relative;
  height: 280px;
  width: 327px;
  margin-bottom: 75px;
}

.expand {
  position: absolute;
  @include variables.flex-row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 152px;
  left: 40px;
  top: 120px;
  padding: 0 20px;
  background: variables.$black-hole;
  opacity: .75;
  color: variables.$granulated-sugar;
}

.expand:hover {
  background: variables.$aged-moustache-grey;
}

.info {
  position: absolute;
  @include variables.flex-column;
  height: 104px;
  width: 280px;
  left: 0px;
  padding-top: 15px;
  padding-left: 15px;
  top: 305px;
  background-color: variables.$granulated-sugar;
  align-items: center;
}

.title {
  width: 232px;
  height: 56px;
}

.title h2 {
  @include variables.heading-m;
  margin-bottom: 10px;
  width: 232px;
}

.title h3 {
  @include variables.subheading-primary;
  color: variables.$aged-moustache-grey;
  height: 58px;
  width: 232px;
}

.description {
  position: relative;
  height: 517px;
  width: 327px;
  @include variables.flex-column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 75px;
}


.artist-thumbnail {
  position: absolute;
  height: 64px;
  width: 64px;
  left: 0;
  top: -30px;
}

.year {
  position: absolute;
  @include variables.display-type;
  color: variables.$cold-morning;
  opacity: .5;
  // z-index: 1;
  font-size: 100px;
  right: 0px;
  top: -20px;
}

.text {
  margin-top: 75px;
  @include variables.body-type;
  font-weight: 500;
  color: variables.$aged-moustache-grey;
  z-index: 1;
}

.source {
  @include variables.link-secondary;
  text-transform: uppercase;
  margin-top: 25px;
}

.source:hover {
  color: variables.$black-hole;
}


/* Responsive Styles */
@media screen and (min-width: 768px) {
  .slide {
    margin: 40px;
    align-items: flex-start;
    width: 100%;
  }

  .hero {
    height: 560px;
    width: 475px;
    object-fit: cover;
    object-position: center 0;
  }

  .info {
    width: 445px;
    height: 302px;
    top: 120px;
    left: 275px;
    justify-content: flex-start;
    padding-top: 0;
  }

  .expand {
    left: 56px;
    top: 633px;
  }

  .title {
    width: 380px;
    height: 192px;
    margin: 15px auto 30px 30px;
  }

  .title h2 {
    @include variables.heading-l;
    width: 100%;
    margin-bottom: 30px;
  }

  .description {
    height: 400px;
    width: 572px;
    padding-left: 115px;
    justify-content: space-between;
    margin-bottom: 0;
  }


  .artist-thumbnail {
    height: 128px;
    width: 128px;
    top: -331px;
    left: 520px;
  }

  .year {
    @include variables.display-type;
    color: variables.$cold-morning;
    opacity: .5;
    left: 0;
    top: 0;
  }



}

@media screen and (min-width: 1440px) {
  .slide {
    @include variables.flex-row;
    justify-content: space-between;
    width: 1360px;
    height: 624px;
    margin: 100px auto;
  }

  .hero {
    height: 560px;
    width: 475px;
    object-fit: cover;
    object-position: center 100%;
  }

  .info {
    left: 450px;
    top: 175px;
  }

  .expand {
    left: 56px;
    top: 693px;
  }

  .description {
    height: 100%;
    width: 476px;
    padding-left: 0;
    padding-top: 40px;
    justify-content: space-between;
  }

  .artist-thumbnail {
    top: 496px;
    left: -375px;
  }

  .text {
    width: 350px;
  }

  .source {
    margin-bottom: 100px;
  }
}
