@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


$global-font: 'Libre Baskerville', serif;


/* Color Palette */
$black-hole: hsl(0, 0, 0);
$aged-moustache-grey: hsl(0, 0%, 49%);
$cold-morning: hsl(0, 0%, 90%);
$bleached-silk: hsl(0, 0%, 95%);
$granulated-sugar: hsl(0, 0%, 100%);



/* Typography */
@mixin display-type {
  font-family: $global-font;
  color: $aged-moustache-grey;
  font-weight: 700;
  font-size: 200px;
  line-height: 150px;
}
@mixin heading-l {
  font-family: $global-font;
  color: $black;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

@mixin heading-m {
  font-family: $global-font;
  color: $black-hole;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

@mixin heading-s {
  font-family: $global-font;
  color: $black-hole;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

@mixin subheading-primary {
  font-family: $global-font;
  color: $black-hole;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

@mixin subheading-secondary {
  font-family: $global-font;
  color: $black;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
}

@mixin link-primary {
  font-family: $global-font;
  color: $aged-moustache-grey;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

@mixin link-secondary {
  font-family: $global-font;
  color: $aged-moustache-grey;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 2px;
  text-decoration: underline;
}

@mixin body-type {
  font-family: $global-font;
  color: $aged-moustache-grey;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}






