@use './variables.scss';
@use "@material/image-list/mdc-image-list";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: variables.$global-font;
  transition: all 0.5s ease-in-out;
}

html,
body {
  color: variables.$black-hole;
  font-size: 14px;
  background-color: variables.$granulated-sugar;
  width: 100vw;
  height: 100vh;
}

button {
  @include variables.link-secondary;
  background-color: variables.$granulated-sugar;
  color: variables.$aged-moustache-grey;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 1.75rem .75rem;
}

button:hover {
  color: variables.$black-hole;

  &:enabled {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }
}

p {
  @include variables.body-type;
  color: variables.$aged-moustache-grey;
}

h2 {
  @include variables.heading-m;
}

h3 {
  @include variables.subheading-primary;
  color: variables.$aged-moustache-grey;
}

h4 {
  @include variables.display-type;
  font-size: 100px;
}

h5 {
  @include variables.subheading-secondary;
  color: variables.$black-hole;
  font-weight: 700;
  font-size: 1rem;
}

h6 {
  @include variables.subheading-secondary;
  color: variables.$black-hole;
  opacity: 0.75;
  font-size: 0.75rem;
  line-height: 0.9rem;
}

a {
  @include variables.link-secondary;
}

footer {
  position: static;
  bottom: 0;
  width: 100vw;
}

.mat-progress-bar {
  * {
    height: 2px !important;
  }
}

.mat-progress-bar-fill::after {
  background-color: variables.$black-hole;
}

.mat-progress-bar-buffer {
  background: variables.$bleached-silk;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: variables.$black-hole;
}

@media screen and (min-width: 768px) {
  h2 {
    @include variables.heading-l;
  }

  h4 {
    @include variables.display-type;
    font-size: 14.1.75rem;
  }

  h5 {
    @include variables.heading-s;
  }

  h6 {
    @include variables.subheading-secondary;
    color: variables.$black-hole;
  }
}

@media screen and (min-width: 1440px) {
  button {
    @include variables.link-primary;
    padding: 0;
  }
}
