<div class="nav">
  <div class="logo">
    <img src="../../../assets/images/logo.svg"
         [routerLink]="'/'"
         alt="galleria-logo"
         class="logo">
  </div>
  <section class="start">
    <div *ngIf="!showStarted">
      <button type="button"
              class="start"
              [routerLink]="['/slideshow/', 0]"
              (click)="showStarted = true">
        Start slideshow
      </button>
    </div>
    <div *ngIf="showStarted">
      <button type="button"
              class="start"
              [routerLink]="''"
              (click)="showStarted = false">
        Stop slideshow
      </button>
    </div>

  </section>
</div>
<hr>
