@use '/src/variables';


.nav {
  @include variables.flex-row;
  height: 80px;
  width: 100%;

  // justify-content: space-evenly;

  // width: 100vw;


  margin: 0 1em;
  padding: 0 1em;
  // border-width: 90%;
}

.logo {
  height: 32px;
  width: 113px;

}

button {
  height: 11px;
  width: 175px;
  margin-right: 0;
}

hr {
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 1px solid variables.$cold-morning;
}
